* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	outline: none;
	-webkit-font-smoothing: antialiased;

}
p *, p {
	font-family: 'Montserrat', sans-serif;
	line-height: 22px;
}

th {
	text-align: center;
}

body {
	background: $backColor;
}

h1, h2, h3, h4, h5 {
	color: $blackColor;
}

.bg-primary {
	box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
}

section, header, footer {
	margin: 0 auto;
	text-align: center;
}
header h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
	width: 100%;
}

.image {
	width: 120px;
	border: 1px solid $grayColor;
	margin: 0px 5px 0 0;
	max-width: 120px;
	max-height: 120px;
	padding: 13px;
}

#map {
	position: relative;
	width: 100%;
	height: 550px;
	clear: both;
	margin-top: 30px;
	float: left;
}

button {
	margin: 0 auto;
	color: $whiteColor;
	font: 1em "Montserrat";
	border: solid 1px #ccc;
	border-radius: 21px;
	background: transparent;
	width: 100%;
	padding: 12px 0px;
	display: block;
	cursor: pointer;
	text-align: center;
	transition: .2s ease;
	outline: none;
	margin-top: 30px;
	transform: scale(1);
	margin-bottom: 20px;
	float: left;
	background: $greenColor;
}

button:hover, button.active {
	opacity: 0.7;
	background: $orangeColor;
	border: solid 1px $orangeColor;
	color: $whiteColor;		
}

button:focus {
	opacity: 0.7; /* opacidade em 30% */
	/*transform: scale(0.95);  escala 5% */
}
.extras button {
	margin-top: 0;
}
.progress {
	opacity: 0.7;
	background: $greenColor;
	border: solid 1px $greenColor;
	color: $whiteColor;
	transform: scale(0.95);
	color: transparent !important;
	transition: .2s ease;
	border-radius: 21px;
	height: auto;
}

@-webkit-keyframes ld {
	0%   { transform: rotate(0deg) scale(1); }
	50%  { transform: rotate(180deg) scale(1.1); }
	100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
	0%   { transform: rotate(0deg) scale(1); }
	50%  { transform: rotate(180deg) scale(1.1); }
	100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
	0%   { transform: rotate(0deg) scale(1); }
	50%  { transform: rotate(180deg) scale(1.1); }
	100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
	0%   { transform: rotate(0deg) scale(1); }
	50%  { transform: rotate(180deg) scale(1.1); }
	100% { transform: rotate(360deg) scale(1); }
}
.progress:before {
	position: relative;
	opacity: .8;
	margin-top: -16px;
	margin-left: -16px;
	width: 32px;
	height: 32px;
	content: '';
	display: inline-block;
	position: absolute;
	background: transparent;
	border: 1px solid #fff;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
	width: 24px;
	height: 24px;
	-webkit-animation: ld 1s ease-in-out infinite;
	-moz-animation: ld 1s ease-in-out infinite;
	-o-animation: ld 1s ease-in-out infinite;
	animation: ld 1s ease-in-out infinite;
}
.progress:focus:before {
	position: relative;
	opacity: .8;
	margin-top: -16px;
	margin-left: -16px;
	width: 32px;
	height: 32px;
	content: '';
	display: inline-block;
	position: absolute;
	background: transparent;
	border: 1px solid #fff;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
	width: 24px;
	height: 24px;
	-webkit-animation: ld 1s ease-in-out infinite;
	-moz-animation: ld 1s ease-in-out infinite;
	-o-animation: ld 1s ease-in-out infinite;
	animation: ld 1s ease-in-out infinite;
}
.row {
	margin: auto;
	margin: auto;
}
.mapa {
	z-index: -1;
}
#form-contato{ 
	label {
		font: 1.1em "arial";
		color: #b2b2b2;
		position: absolute;
		top: -6px;
		font-size: 70%;
		left: 17px;
		z-index: 0;
		cursor: text;
		-webkit-transition: .2s ease;
		transition: .2s ease;
		padding:0;
	}
	.title {
		margin-top: 43px;
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 31px;
	}
	input {
		border: 0;
		border-bottom: 1px solid #b2b2b2;
		color: #00c8b3;
		height: 40px;
		width: 100%;
		background: transparent;
		font-size: 1.2em;
		position: relative;
		z-index: 1;
		-webkit-transition: .2s ease;
		transition: .2s ease;
		padding-left: 9px;
		position: relative;
		opacity: 1;
	}

	:not(output):-moz-ui-invalid {
		box-shadow: none;
	}

	input:invalid {
		box-shadow: none;
	}

	ul li {
		list-style-type: none;
		position: relative;
		margin-top: 20px;
		float: left;
		width: 100%;
	}

	li:hover input, form#form-contato li:hover label  {
		color: #ea5f2a;
		border-color: #ea5f2a;
	}

	li input:focus {
		color: #00c8b3;
		border-color: #00c8b3;
		outline: none;
	}

	li input:focus + label {
		color: #ea5f2a; 
	}

	input::-webkit-input-placeholder {
		opacity: 0.5;
		-webkit-transition: all .2s;
		transition: all .2s;
	}
	input::-moz-placeholder {
		opacity: 0.5;
		-webkit-transition: all .2s;
		transition: all .2s;
	}
	input:-ms-input-placeholder {
		opacity: 0.5;
		-webkit-transition: all .2s;
		transition: all .2s;

	}
	input::placeholder {
		opacity: 0.5;
		-webkit-transition: all .2s;
		transition: all .2s;

	}
	input:placeholder-shown:not(:focus)::-webkit-input-placeholder {
		opacity: 0;
	}
	input::placeholder-shown:not(:focus)::-moz-placeholder {
		opacity: 0;
	}
	input:placeholder-shown:not(:focus):-ms-input-placeholder {
		opacity: 0;
	}
	input:placeholder-shown:not(:focus)::placeholder {
		opacity: 0;
	}
	input:placeholder-shown:not(:focus) + * {
		font-size: 127%;   
		top: 13px;
	}
	input:focus {
		outline: none;
		border-color: rgba(0, 0, 0, 0.5);
	}



	.hidden-xs {
		color: #fff;
	}
	#list {
		float: left;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.twice {
		width: 50%;
	}
}

/* MENU */
.dropdown {
	
	.currentitems {
		position: absolute;
		top: 11px;
		right: 16px;
		background: $redColor;
		padding: 2px 4px;
		border-radius: 25px;
		width: 26px;
		height: 26px;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		z-index: 1;
		cursor: pointer;
		color: white;
		display: none;
	}

}
.dropdown-menu{
	background-color: $orangeColor;
	min-width: 430px;

	a:link {
		float:right;
		margin: 1px 0px;
		padding: 15px 30px 15px 15px;
		display: block;
		font-size: 16px;
		clear: both;
		color: $whiteColor;
		border-radius: 4px;
		position: relative;

	}
	a:hover {
		background-color: $greenColor !important;
		color: $whiteColor;
	}
	li {
		float: left;
		border-bottom: 1px solid $mainColor;
	}
	li:last-child {
		border-bottom: none;
	}
	li>a:focus, li>a:hover {
		background-color: $greenColor;
		outline: none;
		color: $whiteColor;
	}
	.close {
		opacity: 1;
		font-size: 18px;
		position: absolute;
		right: 12px;
		top: 15px;
		z-index: 2;
	}
	
	.text {
		color: $whiteColor;
		font-weight: 400;
		white-space: normal;
		font-size: 13px;
		vertical-align: top;
		margin-top: 0;
		margin-left: 28px;
	}
	.installments {
		color: $blackColor;
		margin-top: 3px;
		margin-left: 28px;
		font-size: 13px;
		text-shadow: none;
		font-weight: 700;
	}
	.incash-text {
		color: $blackColor;
		margin-top: -2px;
		margin-left: 28px;
		font-size: 13px;
		text-shadow: none;
		font-weight: 700;
	}
	.subtotal, .subtotalone, .subtotalonetwo {
		text-align: right;
		color: $blackColor;
		width: 100%;
		clear: both;
		font-size: 12px;
		font-weight: 700;
		padding: 0px 21px 0px 31px;
	}
	.noborder {
		border: none !important;
	}
	hr {
		margin: 2px 0px 6px 0px;
		border-top-color: $blackColor;
	}
	

}
.navbar {
	margin-bottom:0px;
	.dropdown {
		margin-right: 0;
		max-width: 250px;
	}
}
/* remove background colors  */
.navbar-default, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	background-color: transparent;
	border-color: transparent;
	color:#fff;
	outline: 0;
}
.navbar-brand {
	width: 70px;
	height: 40px;
	margin-top: 11px;
	margin-bottom: 11px;
}
.brand {
	vertical-align: middle;
    max-width: 188px;
    float: left;
}
.bg-primary {
	background-color: $mainColor;
}
.navbar-nav>li>.dropdown-menu{
	border-radius: 5px;
	margin-top: 11px
}
.navbar-right:after{
	content: "2";
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 1;
	top: 30px;
	right: 15px;
	background-color: #e82634;
	border-radius: 20px;
	text-align: center;
	display: none;
}
.navbar-default {
	.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
		color: #d49cae;
	}
	.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		color: $whiteColor;
		padding: 0;
		background-color: transparent !important;
	}
	.navbar-collapse, .navbar-default .navbar-form {
		border: 0;
	}
	.navbar-toggle .icon-bar {
		background-color: $whiteColor;
	}
} 
.icon-bar {
	margin-left:48px;

}
.text-menu {
	float: left;
	margin-top: -5px;
	font-size: 16px;
}


.navbar-right:focus, .dropdown-toggle, .dropdown, .collapsed {
	outline: none;
	border: none;
}
.navbar-toggle {
	margin-top: 20px;
	display: block !important;
}

.navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar {
	background-color: $backColor;
}
.navbar-toggle .icon-bar {
	width: 26px;
	height: 5px;
	margin-top: 0;
}

.dropdown-menu>li>a.videos:before, .dropdown-menu>li>a.destaques:before, .navbar>li.search:before  {
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 7px;
}
.dropdown-menu>li>a.destaques:before {
	background-position: -87px -31px;
}
.dropdown-menu>li>a.videos:before {
	background-position: -119px -34px;
}
.navbar>li>a.search:before {
	background-position: -119px -29px;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 3px;
}
.dropdown-menu>li>a {
	display: block;
	padding: 13px 13px;
	clear: both;
	font-weight: 600;
	line-height: 1.42857143;
	color: $whiteColor;
	font-size: 16px;
	letter-spacing: 0px;
	margin: 4px 10px 2px 9px;
	border-radius: 4px;
}


.navbar-collapse, .container-fluid {
	padding-right: 0;
}

.navbar-nav>li>a {
	padding: 0;
}

/* BEGIN OVERWRITE BOOTSTRAP */
.caret {
	display: none !important;
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.btn-group.open .dropdown-toggle,
.navbar-default .navbar-toggle {
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.navbar-toggle, .navbar-right, .container-fluid>.navbar-collapse {
	margin: 0 !important;
}

button:hover {
	border: solid 0px transparent !important;	
}

.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.logo 
	img {
		width: 250px;
		margin-top: 30px;
	    margin-bottom: 30px;
}
/* END OVERWRITE BOOTSTRAP */